.jumbotron{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.table{
    margin-top: 20px;
}
.form-control{
    margin-bottom: 8px;
}
.selecionado{
    background-color: yellow;
}
.negrito{
    font-weight: bold;
}